[submodule "talks/talk-real-estate-long-term-performance"]
	path = talks/talk-real-estate-long-term-performance
	url = https://github.com/thies/talk-real-estate-long-term-performance.git
[submodule "talks/reveal.js"]
	path = talks/reveal.js
	url = https://github.com/hakimel/reveal.js.git
[submodule "talks/talk-applied-ml-in-real-estate-research"]
	path = talks/talk-applied-ml-in-real-estate-research
	url = https://github.com/thies/talk-applied-ml-in-real-estate-research.git
[submodule "talks/talk-asres-areuea-panel-2021"]
	path = talks/talk-asres-areuea-panel-2021
	url = https://github.com/thies/talk-asres-areuea-panel-2021.git
[submodule "talks/talk-rem1-2020-feedback"]
	path = talks/talk-rem1-2020-feedback
	url = https://github.com/thies/talk-rem1-2020-feedback.git
[submodule "talks/talk-real-estate-and-technology"]
	path = talks/talk-real-estate-and-technology
	url = https://github.com/thies/talk-real-estate-and-technology.git
[submodule "talks/talk-lv-backcasting"]
	path = talks/talk-lv-backcasting
	url = https://github.com/thies/talk-lv-backcasting.git
[submodule "talks/talk-towards-realistic-return-estimate"]
	path = talks/talk-towards-realistic-return-estimate
	url = https://github.com/thies/talk-towards-realistic-return-estimate.git
[submodule "talks/talk-curem"]
	path = talks/talk-curem
	url = https://github.com/thies/talk-curem.git
