[submodule "talks/talk-real-estate-long-term-performance"]
	path = talks/talk-real-estate-long-term-performance
	url = https://github.com/thies/talk-real-estate-long-term-performance.git
[submodule "talks/reveal.js"]
	path = talks/reveal.js
	url = https://github.com/hakimel/reveal.js.git
[submodule "talks/talk-asres-areuea-panel-2021"]
	path = talks/talk-asres-areuea-panel-2021
	url = https://github.com/thies/talk-asres-areuea-panel-2021.git
[submodule "talks/talk-rem1-2020-feedback"]
	path = talks/talk-rem1-2020-feedback
	url = https://github.com/thies/talk-rem1-2020-feedback.git
[submodule "talks/talk-real-estate-and-technology"]
	path = talks/talk-real-estate-and-technology
	url = https://github.com/thies/talk-real-estate-and-technology.git
[submodule "talks/talk-lv-backcasting"]
	path = talks/talk-lv-backcasting
	url = https://github.com/thies/talk-lv-backcasting.git
[submodule "talks/talk-towards-realistic-return-estimate"]
	path = talks/talk-towards-realistic-return-estimate
	url = https://github.com/thies/talk-towards-realistic-return-estimate.git
[submodule "talks/talk-curem"]
	path = talks/talk-curem
	url = https://github.com/thies/talk-curem.git
[submodule "talks/talk-cerf-cavalcade"]
	path = talks/talk-cerf-cavalcade
	url = https://github.com/thies/talk-cerf-cavalcade.git
[submodule "talks/talk-re01-l12-indirect-real-estate"]
	path = talks/talk-re01-l12-indirect-real-estate
	url = git@github.com:thies/talk-re01-l12-indirect-real-estate.git
[submodule "talks/talk-re01-l13-reits-occupier"]
	path = talks/talk-re01-l13-reits-occupier
	url = https://github.com/thies/talk-re01-l13-reits-occupier.git
[submodule "talks/talk-re01-l16-derivatives"]
	path = talks/talk-re01-l16-derivatives
	url = git@github.com:thies/talk-re01-l16-derivatives.git
[submodule "talks/talk-areuea2023-discussion"]
	path = talks/talk-areuea2023-discussion
	url = git@github.com:thies/talk-areuea2023-discussion.git
[submodule "talks/talk-real-estate-impact-on-society"]
	path = talks/talk-real-estate-impact-on-society
	url = git@github.com:thies/talk-real-estate-impact-on-society.git
[submodule "talks/talk-symposium-2023"]
	path = talks/talk-symposium-2023
	url = git@github.com:thies/talk-symposium-2023.git
[submodule "talks/talk-predictable-reit-returns-research-club"]
	path = talks/talk-predictable-reit-returns-research-club
	url = git@github.com:thies/talk-predictable-reit-returns-research-club.git
[submodule "talks/talk-applied-ml-in-real-estate-research"]
	path = talks/talk-applied-ml-in-real-estate-research
	url = git@github.com:thies/talk-applied-ml-in-real-estate-research.git
[submodule "talks/talk-predictable-reit-returns"]
	path = talks/talk-predictable-reit-returns
	url = git@github.com:thies/talk-predictable-reit-returns.git
